.userAuth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1.25rem;
  display: flex;
  flex-direction: column;

  gap: .5rem;
  width: 40vw;
  border-radius: .6rem;
  background-color: white;
}

.userAuth img {
  width: 3rem;
  height: 2.5rem;
}

.userAuth h1 {
  font-weight: 600;
  font-size: 2.6rem;
}

.userAuth input,
.userAuth button {
  height: 2.5rem;
  padding: .6rem;
  border: .06rem solid lightgray;
}
.userAuth input:focus {
  border-color: #1da1f2;
}

.userAuth button {
  border-radius: 1.25rem;
  color: white;
  background-color: #1da1f2;
}
.userAuthLink {
  display: flex;
  justify-content: space-between;
}

.userAuthLink a {
  text-decoration: none;
  color: #1da1f2;
}

@media screen and (max-Width:767px ){

  .userAuth {
    width: 50vw;
  }
  
}


